@page "/MandateDetail/{FarmId:int}"
@inject IApiClient Api
@inject NavigationManager Navigation
@using Agridea.Acorda.AcordaControlOffline.Shared.ApplicationServices.Api
@using Agridea.Acorda.AcordaControlOffline.Shared.ApplicationServices.ViewModel

@if (farmSummary_ == null)
{
    <p>Loading...</p>
}
else
{
    <div class="card">
        <div class="card-header">

            <h3 class="card-title">@farmSummary_.Farm.Ktidb @farmSummary_.Farm.FarmName</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-default">
                    <span class="fa-stack stacked-icon-button">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-info fa-stack-1x"></i>
                    </span> Consulter
                </button>
            </div>

            <p class="clearboth mb-0">
                <FarmBase Farm="@farmSummary_.Farm" />
            </p>

        </div>
        <div class="card-body">
            
            <p class="mb-1">
                <label class="badge-label">SAU:</label> <span class="badge badge-round badge-info text-white p-1 mr-3">@farmSummary_.AgriculturalArea</span>
                <label class="badge-label">non SAU:</label> <span class="badge badge-round badge-info text-white p-1 mr-3">@farmSummary_.NonAgriculturalArea</span>
                <label class="badge-label">UGB:</label> <span class="badge badge-round bg-animal text-white p-1 mr-3">@farmSummary_.BovineStandardUnits</span>
                <label class="badge-label">dont BDTA:</label> <span class="badge badge-round bg-animal text-white p-1 mr-3">@farmSummary_.BovineStandardUnitsFromBdta</span>
            </p>
            <BadgeBar Badges="@farmSummary_.Badges" />
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Check-listes</h3>
            <div class="card-tools">
            <button type="button" class="btn btn-default" @onclick='() => Navigation.NavigateTo("/")'>
                <i class="fas fa-arrow-left"></i> Retour à la liste des mandats
            </button>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">IPS Exigences de base</h4>
                    <p class="list-group-item-text"><span class="badge bg-purple"><i class="far fa-folder-open"></i> Campagne hiver 2020</span></p>
                    <button class="btn btn-app h-auto">
                        <i class="far fa-calendar-alt"></i>
                        <span style="white-space: pre-wrap">(non agendé)</span>
                        <span class="text-red d-block"><i class="fas fa-exclamation"></i> Inopiné</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public int FarmId { get; set; }
    private FarmSummary farmSummary_;
    protected override async Task OnInitializedAsync()
    {
        var farmSummaryResult = await Api.FetchFarmSummaryAsync("sample-data/farm.json");
        if (farmSummaryResult.IsSuccess) farmSummary_ = farmSummaryResult.Value;
    }
}