@page "/MandateDetail/{FarmId:int}"
@inject IApiClient Api
@inject NavigationManager Navigation
@using Agridea.Acorda.AcordaControlOffline.Client.Blazor.UiServices
@using Agridea.Acorda.AcordaControlOffline.Shared.ApplicationServices.Api
@using Agridea.Acorda.AcordaControlOffline.Shared.ApplicationServices.ViewModel.MandateDetail

@if (mandate == null)
{
    <p>Loading...</p>
}
else
{
    <div class="card">
        <div class="card-header">

            <h3 class="card-title">@mandate.Farm.Ktidb @mandate.Farm.FarmName</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-default">
                    <span class="fa-stack stacked-icon-button">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-info fa-stack-1x"></i>
                    </span> Consulter
                </button>
            </div>

            <p class="clearboth mb-0">
                <FarmBase Farm="@mandate.Farm" />
            </p>

        </div>
        <div class="card-body">
            
            <p class="mb-1">
                <label class="badge-label">SAU:</label> <span class="badge badge-round badge-info text-white p-1 mr-3">@mandate.AgriculturalArea</span>
                <label class="badge-label">non SAU:</label> <span class="badge badge-round badge-info text-white p-1 mr-3">@mandate.NonAgriculturalArea</span>
                <label class="badge-label">UGB:</label> <span class="badge badge-round bg-animal text-white p-1 mr-3">@mandate.BovineStandardUnits</span>
                <label class="badge-label">dont BDTA:</label> <span class="badge badge-round bg-animal text-white p-1 mr-3">@mandate.BovineStandardUnitsFromBdta</span>
            </p>
            <BadgeBar Badges="@mandate.Badges" />
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Check-listes</h3>
            <div class="card-tools">
            <button type="button" class="btn btn-default" @onclick='() => Navigation.NavigateTo("/")'>
                <i class="fas fa-arrow-left"></i> Retour à la liste des mandats
            </button>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">@mandate.CheckList.Domain</h4>
                    <p class="list-group-item-text"><span class="badge bg-purple"><i class="far fa-folder-open"></i> @mandate.CheckList.Campaign</span></p>
                    <button class="btn btn-app h-auto">
                        <i class="far fa-calendar-alt"></i>
                        <span class="d-block">(non agendé)</span>
                        <span class="d-block">Rendez-vous le 25.10.2020</span>
                        <span class="d.d-block">Contacté le 19.10.2020</span>
                        <span class="text-red d-block"><i class="fas fa-exclamation"></i> Inopiné</span>
                    </button>
                    <div class="btn btn-app h-auto"><i class="fas fa-question"></i>Routine</div>
                    <div class="btn btn-app h-auto"><i class="far fa-flag"></i>Planifié</div>
                    <button class="btn btn-app h-auto">
                        <i class="far fa-comment-dots text-warning"></i>
                        <span style="white-space:pre-wrap">Remarque pour la gérance</span>
                    </button>
                    <button class="btn btn-app h-auto"><i class="far fa-copy text-danger"></i>Suivi documents</button>
                    <ProgressBar Progress="@mandate.CheckList" />
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public int FarmId { get; set; }
    private Mandate mandate;
    protected override async Task OnInitializedAsync()
    {
        var result = await Api.FetchFarmSummaryAsync("sample-data/farm.json");
        if (result.IsSuccess) mandate = result.Value;
    }
}