@using Agridea.Acorda.AcordaControlOffline.Client.Blazor.Pages
@using Agridea.Acorda.AcordaControlOffline.Client.Blazor.UiServices
@using Agridea.Acorda.AcordaControlOffline.Shared.Domain.Checklist
@using Agridea.Acorda.AcordaControlOffline.Shared.Domain.Inspection

<div id="@Node.Id" class="list-group-item">
    @if (Node.NumPoints > 0 || Node.NumGroups > 0)
    {
        <a @onclick="@(() => OnNodeViewChanged.InvokeAsync(Node.ConjunctElementCode))"><i class="fas fa-chevron-right fa-3x float-left rotate mr-2"></i></a>
    }
    <span class="badge bg-indigo disabled float-right mr-1">@Node.NumGroups</span>
    <span class="badge bg-indigo disabled float-right mr-1">@Node.NumPoints</span>
    <h4 class="list-group-item-heading">@Node.ShortName</h4>
    <p class="list-group-item-text mb-2">@Node.ConjunctElementCode</p>
    <button class="btn btn-circle btn-circle-sm mr-1 @Node.Outcome.OutcomeCssClass(InspectionOutcome.Ok)" @onclick="() => SetOutcome(InspectionOutcome.Ok)"><i class="far fa-thumbs-up"></i></button>
    <button class="btn btn-circle btn-circle-sm mr-1 @Node.Outcome.OutcomeCssClass(InspectionOutcome.PartiallyOk)" @onclick="() => SetOutcome(InspectionOutcome.PartiallyOk)">P</button>
    <button class="btn btn-circle btn-circle-sm mr-1 @Node.Outcome.OutcomeCssClass(InspectionOutcome.NotOk)" @onclick="() => SetOutcome(InspectionOutcome.NotOk)"><i class="far fa-thumbs-down"></i></button>
    <button class="btn btn-circle btn-circle-sm mr-1 @Node.Outcome.OutcomeCssClass(InspectionOutcome.NotInspected)" @onclick="() => SetOutcome(InspectionOutcome.NotInspected)">NC</button>
    <button class="btn btn-circle btn-circle-sm mr-1 @Node.Outcome.OutcomeCssClass(InspectionOutcome.NotApplicable)" @onclick="() => SetOutcome(InspectionOutcome.NotApplicable)">NA</button>
    @if (Node.Outcome != InspectionOutcome.Unset)
    {
        <button class="btn btn-circle btn-circle-sm mr-1 ml-1 btn-default">...</button>
        <button class="btn btn-circle btn-circle-sm mr-1 ml-1 btn-default"><i class="far fa-trash-alt"></i></button>
    }
</div>

@code {
    [Parameter]
    public Checklist2.ResultModel Node { get; set; }
    [Parameter]
    public EventCallback<string> OnNodeViewChanged { get; set; }
    [Parameter]
    public EventCallback<Checklist2.ResultModel> OnNodeEdited { get; set; }
    [Parameter]
    public EventCallback<Checklist2.ResultModel> OnOutcomeChanged { get; set; }

    async Task SetOutcome(InspectionOutcome outcome)
    {
        Node.Outcome = outcome;
        await OnOutcomeChanged.InvokeAsync(Node);
    }
}
