@inject IApiClient Api
@inject NavigationManager Navigation
@using Agridea.Acorda.AcordaControlOffline.Client.Blazor.UiServices
@using Agridea.Acorda.AcordaControlOffline.Shared.ApplicationServices.Api
@using Agridea.Acorda.AcordaControlOffline.Shared.ApplicationServices.ViewModel
@using Agridea.Acorda.AcordaControlOffline.Shared.ApplicationServices.ViewModel.MandateList

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Filtre</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-sm btn-default" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p>Filter form here</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary"><i class="fas fa-save"></i> Enregistrer</button>
    </div>
</div>

<div class="card">
    @if (mandates == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="card-header">
            <h3 class="card-title">@mandates.Length exploitation@(mandates.Length > 1 ? "s" : "") à contrôler</h3>
        </div>
        <div class="card-body p-0">
            <div class="list-group">
                @foreach (var mandate in mandates)
                {
                    <div class="list-group-item @mandate.Farm.FarmTypeCode.BackgroundCssClass()">
                        <button class="btn btn-success btn-sm float-right ml-1" @onclick='() => NavigateToMandateDetail(mandate.Farm.Id)'>
                            <i class="fas fa-arrow-right"></i><span class="sr-only">Naviguer vers le détail du mandat</span> Mandat
                        </button>
                        <button class="btn btn-primary btn-sm float-right ml-1" href="#">
                            <i class="fas fa-cloud-download-alt"></i><span class="sr-only">Rendre disponible hors-connexion</span> Télécharger 
                        </button>

                        <h4 class="list-group-item-heading mb-1">@mandate.Farm.Ktidb @mandate.Farm.FarmName</h4>
                        <p class="list-group-item-text mb-1">
                            <FarmBase Farm="@mandate.Farm" />
                        </p>
                        
                        <BadgeBar Badges="@mandate.Badges" />
                        
                        @foreach (var checklist in mandate.Checklists)
                        {
                            <ProgressBar Progress="@checklist" />
                        }
                    </div>
                }
            </div>
        </div>
    }
    <div class="card-footer"></div>
</div>
@code {

    private Mandate[] mandates;
    protected override async Task OnInitializedAsync()
    {
        var mandatesResult = await Api.FetchMandatesAsync("sample-data/mandates.json");
        if (mandatesResult.IsSuccess) mandates = mandatesResult.Value;
    }


    void NavigateToMandateDetail(int id)
    {
        if (id > 0)
        {
            Navigation.NavigateTo($"MandateDetail/{id}");
        }
    }
}
