@using Agridea.Acorda.AcordaControlOffline.Client.Blazor.UiServices
@using Agridea.Acorda.AcordaControlOffline.Shared.ApplicationServices.ViewModel.MandateList

<div class="progress progress-tall mt-2 mb-2">
    <div class="progress-bar @Progress.Outcome.BackgroundCssClass()" role="progressbar" aria-valuenow="@Progress.Percent" aria-valuemin="0" aria-valuemax="100" style="width: @Progress.Percent%"></div>
    <div class="progress-bar-text">
        <span role="label">@Progress.Domain (@Progress.Inspector)</span>
        <span role="percent" class="ml-2">@Progress.Percent%</span>
        <span role="outcome" class="ml-2">@((MarkupString)Progress.Outcome.Icon()) <strong>@Progress.Outcome</strong></span>
        @if (Progress.IsClosed)
        {
            <span role="lock" class="ml-2"><i class="fas fa-lock"></i> Clôturé le @Progress.CloseDate</span>
        }
    </div>
</div>

@code {

    [Parameter]
    public Inspection Progress { get; set; }

}
