@inject IAuthService AuthService
@inject NavigationManager Navigation
@inject IRepository Repository
@using Agridea.Acorda.AcordaControlOffline.Client.Blazor.Auth
@using System.Security.Claims
@using Agridea.Acorda.AcordaControlOffline.Shared.ApplicationServices.LocalStore
@using Agridea.Acorda.AcordaControlOffline.Shared.ApplicationServices.ViewModel

<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="fas fa-user mr-1"></i>
        <AuthorizeView>
            <Authorized><span>@(context.User.FindFirst(x => x.Type == ClaimTypes.Name)?.Value ?? "")</span></Authorized>
            <NotAuthorized><span>@Auth.Unauthenticated</span></NotAuthorized>
        </AuthorizeView>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <div class="dropdown-header bg-gradient-success">
            <span class="fa-stack fa-3x">
                <i class="far fa-square fa-stack-2x fa-inverse"></i>
                <i class="fas fa-user fa-stack-1x fa-inverse"></i>
            </span>
            <AuthorizeView>
                <Authorized>
                    <p>@(context.User.FindFirst(x => x.Type == ClaimTypes.Name)?.Value ?? "")</p>
                    <p><small>@(context.User.FindFirst(x => x.Type == ClaimTypes.Role)?.Value ?? "")</small></p>
                </Authorized>
                <NotAuthorized><p>Aucun utilisateur connecté</p></NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-footer text-left">
            <AuthorizeView>
                <Authorized>
                    <button type="button" class="btn btn-default mb-1" @onclick="@Logout"><i class="fas fa-sign-out-alt"></i> Déconnexion</button>
                    <button type="button" class="btn btn-default mb-1"><i class="fas fa-lock"></i> Changer mot de passe</button>
                </Authorized>
                <NotAuthorized>
                    <button type="button" class="btn btn-default mb-1" @onclick="@(() => Navigation.NavigateTo("/Login"))"><i class="fas fa-sign-in-alt"></i> Connexion</button>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</li>
@code {

    public async Task Logout()
    {
        Console.WriteLine("Logging out...");
        await Repository.ClearMandatesListAsync();
        await AuthService.Logout();
        Navigation.NavigateTo("/Login");
    }
}
